<div class="section">
    <div class="container">
	<div class="row main">
	    <div class="col-xs-12">
		<h1>Вебинар «<%= @webinar.name.html_safe %>»</h1>
	    </div>
	</div>

	<div class="row webinar-description">
	    <div class="col-xs-12">
		<%= @webinar.description.html_safe %>
	    </div>
	</div>

	<% if html = @webinar.video_block %>
	    <div class="row webinar-video">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
		    <%= html %>
		</div>
	    </div>
	<% end %>

    </div>
</div>
