<div class="section">
    <div class="container">
	<div class="row main">
	    <div class="col-xs-12">
		<h1>Интенсив-курс <br/>«Антикризисный маркетинг»</h1>
	    </div>
	</div>

	<div class="row bl-howto">
	    <div class="col-sm-4 arr-h arr-h-1">Как привлекать <br/> клиентов</div>
	    <div class="col-sm-4 arr-h arr-h-2">За минимальный <br/>рекламный бюджет</div>
	    <div class="col-sm-4 arr-h arr-h-3">С максимальной <br/>эффективностью</div>
	</div>

	<div class="row bl-timing">
	    <div class="col-sm-4">
		В течение <br/>
		рабочей недели <br/>
		Со 2 по 6 марта
	    </div>
	    <div class="col-sm-4">
		Пять онлайн-сессий <br/>
		с 13-00 до 17-00 <br/>
		ежедневно

	    </div>
	    <div class="col-sm-4">
		Стоимость участия <br/>
		7500 р
	    </div>
	</div>
    </div>
</div>

<div class="section grey-light-bg">
    <div class="container">
	<div class="row bl-person-blockquote ">
	    <div class="col-xs-12 col-sm-2">
		<img src="<%= image_path 'img/blockquote.jpg' %>" alt="Что вы узнаете"/>
	    </div>
	    <div class="col-xs-12 col-sm-10">
		<div class="blockquote-text h2 arr-v arr-v-1">
		    Вы узнаете, как дешево и <br/>
		    эффективно привлечь клиентов
		</div>
	    </div>
	</div>
	<div class="row bl-desc">
	    <div class="col-xs-12 arr-v arr-v-2">
		<h2>Для кого курс?</h2>
		<ul>
		    <li>Для владельцев бизнеса, самостоятельно занимающихся его развитием.</li>
		    <li>Для фрилансеров, личных консультантов, коучей и других специалитов, нуждающихся в продвижении собственных услуг.</li>
		    <li>Для маркетологов, сотрудников рекламных и маркетинговых агентств.</li>
		    <li>Для тех, кто только начинает собственный бизнес.</li>
		</ul>
	    </div>
	</div>
	<div class="row bl-desc">
	    <div class="col-xs-12 arr-v arr-v-3">
		<h2 class="wide-title">— Для каждого, кому нужно больше клиентов</h2>
		<ul>
		    <li>Если вы уже ведете бизнес, вы сможете оптимизировать расходы и расширить круг клиентов.</li>
		    <li>Если вы только выходите на рынок, вы сможете быстро начать получать прибыль и избежать лишних затрат.</li>
		    <li>Если вы уже пробовали инструменты интернет-маркетинга, но только потратили деньги, вы узнаете, почему так получилось, и как это исправить.</li>
		</ul>
	    </div>
	</div>
    </div>
</div>

<div class="section red-bg">
    <div class="container">
	<div class="row bl-desc">
	    <div class="col-xs-12 arr-v arr-v-4">
		<h2>Если вы задаете себе вопросы:</h2>
		<ul>
		    <li>Как начать рассказывать людям о себе в интернете?</li>
		    <li>А нужно ли мне в соцсети? <br/>В каких соцсетях я могу продвигать свой бизнес?</li>
		    <li>Нужен ли мне лэндинг? Нужен ли мне блог?</li>
		    <li>Где брать контент? Про что писать и как писать?</li>
		    <li>Что должно быть на сайте, чтобы он приводил мне клиентов?</li>
		    <li>Как сделать так, чтобы мои клиенты возвращались? <br/>
			то наш интерактивный курс по привлечению клиентов – для вас.</li>
		</ul>
	    </div>
	</div>
    </div>
</div>

<div class="section">
    <div class="container">
	<div class="row bl-desc">
	    <div class="col-xs-12 arr-v arr-v-5">
		<h2 class="wide-title">Практический опыт реальных специалистов</h2>
		<p class="text-center">
		    Мы уже прошли этот путь. Мы уже отшлифовали эти методики. Мы узнали их плюсы и минусы, проверили их на практике, получили реальные результаты и покажем их вам.
		</p>
	    </div>
	</div>
	<div class="row bl-desc ">
	    <div class="col-xs-12 col-md-10">
		<h3>Кризис — самое время
		    привлечь новых клиентов</h3>
		<ul>
		    <li>дешевле, чем вы делали это до сих пор.</li>
		    <li>дешевле, чем это делают крупные маркетинговые агентства.</li>
		    <li>во многих случаях вообще БЕСПЛАТНО!</li>
		</ul>
	    </div>
	    <div class="col-xs-12">
		<div class="h2 text-primary title-letsdoit wide-title arr-v arr-v-6">
		    Давайте сделаем это вместе!
		</div>
	    </div>

	</div>
    </div>
</div>

<div class="section grey-light-bg">
    <div class="container">
	<div class="row bl-desc">
	    <div class="col-xs-12 arr-v arr-v-7">
		<h2 class="title-knowledge">На курсе вы узнаете</h2>
		<ul>
		    <li>Как представить себя в сети Интернет и привлечь внимание людей к себе;</li>
		    <li>Кому, зачем и какие сосцети нужны и как в них продвигаться;</li>
		    <li>Что должно быть на сайте, чтобы он приводил вам клиентов;</li>
		    <li>Что такое лендинг-пейдж, как ее делать, и как она работает;</li>
		    <li>Как использовать блог;</li>
		    <li>Где брать контент, каким он должен быть,что и как писать;</li>
		    <li>Что делать, чтобы клиенты становились постоянными.</li>
		</ul>
	    </div>
	</div>
	<div class="row bl-desc">
	    <div class="col-xs-12 ">
		<div class="h3 title-left-long arr-v arr-v-8">
		    Мы научим вас не ворочать многотысячными рекламными бюджетами. Мы научим тому, как продвигаться в интернете бесплатно.
		</div>
	    </div>
	</div>
    </div>
</div>

<div class="section blue-bg">
    <div class="container">
	<div class="row bl-result">
	    <div class="col-xs-12">

		<div class="row bl-desc ol-numbers">
		    <h2 class="title-result">В результате вы получите</h2>
		    <div class="col-sm-4">
			<div class="ol-number">1.</div>
			<p>
			    Стратегию, разработанную именно для вашего бизнеса с учетом ваших ресурсов
			</p>
		    </div>
		    <div class="col-sm-4">
			<div class="ol-number">2.</div>
			<p>
			    Знания и умения, необходимые для расширения круга клиентов
			</p>
		    </div>
		    <div class="col-sm-4">
			<div class="ol-number">3.</div>
			<p>
			    Четкий и понятный план действий. Вы будете в точности знать, где брать клиентов
			</p>
		    </div>
		    <div class="clearfix"></div>
		    <div class="h3 arr-v arr-v-9 h3-start" style="margin: 30px 0 60px;">
			Вы сможете начать действовать и расширять свою клиентскую базу
			уже во время прохождения курса
		    </div>
		</div>


	    </div>
	</div>
    </div>
</div>

<div class="section grey-light-bg">
    <div class="container">
	<div class="row bl-desc how">
	    <div class="col-xs-12">
		<h2>Как это будет</h2>

		<p >
		    Под нашим наблюдением и контролем,
		    с применением нашей авторской методологии,
		    шаг за шагом
		    мы вместе с вами
		    выстроим четко работающую систему привлечения клиентов
		    именно для вашего бизнеса.
		    С каждым из вас будут плотно работать эксперты.
		</p>

		<h3>
		    Стратегия будет разработана именно для вашего бизнеса.
		</h3>
		<p>
		    В течение пяти дней будут проходить теоретические и практические онлайн-сессии, на которых мы с вами будем работать как в группах, так и индивидуально. Вы будете получать домашние задания, от тщательности выполнения которых будет зависеть наш с вами результат.
		</p>
		<div class="clearfix"></div>
		<div class="h3 arr-v arr-v-10 arr-v-11" style="margin: 60px 0;">
		    Да, придется поработать. <br/> Но мы готовы работать для реального результата.
		</div>
	    </div>
	</div>
    </div>
</div>

<div class="section purple-bg">
    <div class="container">
	<div class="row bl-contents">
	    <div class="col-xs-12 arr-v arr-v-14">
		<h2><span class="red-underline">Программа курса</span></h2>

		<div class="bl-contents-item row" >
		    <div class="ol-number arr-v arr-v-12">1.</div>
		    <div class="col-md-12 col-xs-10 col-sm-11 col-xs-offset-2 col-sm-offset-1">
			<div class="h3">
			    Как устроена и как работает система интернет-маркетинга
			</div>
			<p>
			    Определение исходных предпосылок. <br/>Аудит: ваши цели, ваш бизнес и система AS-IS.
			</p>
		    </div>
		</div>
		<div class="bl-contents-item row" >
		    <div class="ol-number arr-v arr-v-13">2.</div>
		    <div class="col-md-12 col-xs-10 col-sm-11 col-xs-offset-2 col-sm-offset-1">
			<div class="h3">
			Чем привлекать клиентов?
		    </div>
			<p>
			    Ваша контентная стратегия и контентная тактика.<br/>  SEO-оптимизация контента.
			</p>
		    </div>
		</div>
		<div class="bl-contents-item row" >
		    <div class="ol-number arr-v arr-v-12">3.</div>
		    <div class="col-md-12 col-xs-10 col-sm-11 col-xs-offset-2 col-sm-offset-1">
			<div class="h3">
			    Превращаем посетителей в покупателей.
			</div>
			<p>
			    Сайт. Лэндинг. Блог. Что должно быть? Какими они должны быть?<br/> Как их увязывать между собой?
			</p>
		    </div>
		</div>
		<div class="bl-contents-item row" >
		    <div class="ol-number arr-v arr-v-13">4.</div>
		    <div class="col-md-12 col-xs-10 col-sm-11 col-xs-offset-2 col-sm-offset-1">
			<div class="h3">
			    Работа с соцсетями.
			</div>
			<p>
			    Какая аудитория, в каких соцсетях и как с ней работать?<br/>Как выбрать соцсеть?  Как адаптировать ваш контент под выбранную соцсеть?
			</p>
		    </div>
		</div>
		<div class="bl-contents-item row" >
		    <div class="ol-number">5.</div>
		    <div class="col-md-12 col-xs-10 col-sm-11 col-xs-offset-2 col-sm-offset-1">
			<div class="h3">
			    Наработка постоянной базы покупающих клиентов.
			</div>
			<p>
			    E-mail-маркетинг. Как собирать e-mail? Как делать рассылки? <br/>Что в них писать? Рассылки-триггеры. Работа в офлайне.
			</p>
		    </div>
		</div>


	    </div>
	</div>
    </div>
</div>

<div class="section red-bg">
    <div class="container">
	<div class="row bl-persons bl-desc">
	    <div class="col-xs-12 arr-v arr-v-15">
		<h2>Привлекать клиентов вас научат:</h2>
	    </div>
	    <div class="col-xs-12 col-sm-6 bl-persons-item">
		<img src="<%= image_path 'img/kudashkina.jpg' %>" alt=""/>
		<div class="h4">
		    Таисия Кудашкина
		</div>
		<p>
		    Основатель  сайта отзывов Tulp.ru (2 млн. посетителей ежемесячно)
		    и журнала по интернет-маркетингу для предпринимателей Websarafan.ru. Журналист и блогер. Вечный двигатель прогресса и идейный генератор.
		</p>
	    </div>

	    <div class="col-xs-12 col-sm-5 bl-persons-item">
		<img src="<%= image_path 'img/khlyzova.jpg' %>" alt=""/>
		<div class="h4">
		    Евгения Хлызова
		</div>
		<p>
		    Аналитик, методолог. Человек-система. Специалист по интернет-технологиям, моделированию процессов и систем.
		</p>
	    </div>

	    <div class="clearfix"></div>

	</div>
    </div>
</div>

<div class="section">
    <div class="container">
	<div class="row bl-desc">
	    <div class="col-xs-12 arr-v arr-v-16">
		<h2>Кто мы</h2>

		<p>
		    Мы — практикующие маркетологи, все свое рабочее время посвящающие работе с рекламным веб-инструментарием.
		</p>
		<p>
		    Интернет-маркетинг —  это целая система, комплекс инструментов со сложными взаимосвязями. Невозможно взять отдельный инструмент и заставить его работать. Важно понимать всю систему.
		</p>
		<p class="arr-v arr-v-9">
		    Анализируя сотни кейсов, мы воссоздали методологию создания постоянно растущего потока клиентов. Мы умеем адаптировать эту методологию для конкретных типов бизнеса.
		</p>

	    </div>
	</div>
	<div class="row bl-desc">
	    <div class="col-xs-12">
		<h2 class="h2-need">Что нужно для участия в интерактивном курсе по привлечению клиентов</h2>

		<p class="arr-v arr-v-17" style="margin-bottom:50px;">
		    Для участия подайте заявку и пройдите Skype-интервью с нами. Так как мы работаем на результат, мы подбираем людей, которым наш тренинг пойдёт на пользу. Для эффективной работы в группах и с тренерами мы можем взять не больше 12 человек.
		    Поэтому, если мы с вами решим, что вам есть смысл участвовать, оплатите до конца февраля стоимость тренинга в <span class="red-underline">7500 рублей.</span>
		</p>


	    </div>
	</div>
    </div>
</div>
