<% content_for(:title) { "Вебсарафан.Саммит" } %>

<div class="row" style="font-size: 36px">
  <div class="large-2 columns text-center">
    <i class="fi-calendar"></i>
  </div>
  <div class="large-3 large-offset-1 columns text-center">
    <i class="fi-clock"></i>
  </div>
  <div class="large-2 large-offset-1 columns text-center">
    <i class="fi-video"></i>
  </div>
  <div class="large-2 large-offset-1 columns text-center">
    <i class="fi-price-tag"></i>
  </div>
</div>
<div class="row" style="padding:0; text-align: center;">
  <div class="large-2 columns">
    с 17 по 21 ноября
    <nobr>16 спикеров</nobr>
  </div>
  <div class="large-3 large-offset-1 columns">четыре онлайн-сессии с <nobr>13-00 до 16-00</nobr> ежедневно</div>
  <div class="large-2 large-offset-1 columns">mp3 и видео записи сессий</div>
  <div class="large-2 large-offset-1 columns">4000₽<br>
  (до 20 октября)</div>
</div>
<div class="row">
  <div class="medium-9 small-12 columns">
    <h3>Онлайн-конференция для предпринимателей: 16 проверенных экспертов с websarafan.ru рассказывают, что сделать, чтобы у вас было больше клиентов и больше продаж.</h3>
    <ul class="square">
      <li>У вас мало клиентов? Хотите, чтобы их было больше?</li>
      <li>Запутались в том, как правильно рассказывать окружающим о своем бизнесе?</li>
      <li>Начинаете день с вопроса: что делать дальше? Как продвигать мой бизнес?</li>
      <li>Не знаете, что постить у себя на сайте и в социальных сетях так, чтобы клиенты у вас покупали?</li>
    </ul>
    <h3>Почему наш онлайн-саммит особенный?</h3>
    <ul>
    <li>Пять дней интенсивных вебинаров: присоединяйтесь к нам из офиса или дома. Не надо никуда ехать.</li>
    <li>16 профессиональных экспертов, готовых ответить на ваши вопросы и дать вам рекомендации. Все эксперты прошли проверку нашими статьями на <b>websarafan.ru</b> -  вы видели и читали их не раз.</li>
    <li>Возможность пообщаться как со спикерами, так и с единомышленниками-предпринимателями.</li>
    <li>Видео и аудио записи всех вебинаров. Пересматривайте в любое время.</li>
    </ul>
    <div class="text-center">
      <a href="<%=payment_path%>" class="button" role="button">Присоединяйтесь!</a>
    </div>

    <h3>5 причин, по которым вам стоит принять участие в конференции?</h3>

    <p class="panel"><em>Причина №1</em>. Вы узнаете самые простые и эффективные алгоритмы работы с вашей аудиторией. Как рассказывать о себе? Что рассказывать о себе? На каком языке говорить, чтобы вас услышали  - и захотели у вас купить? Мы даем систематизированные знания, которые можно применить к любому бизнесу.</p>

    <p class="panel"><em>Причина №2</em>. Вы станете эффективным и избежите лишних трат. Можно бесконечно эксперементировать с рекламой и позиционированием бизнеса  - и бесконечно тратить свое время и деньги. Ваше время ценно, научитесь тратить его с пользой. Ну а сэкономленные деньги лучше пустить в развитие дела – с четким пониманием, что именно нужно сделать.</p>

    <p class="panel"><em>Причина №3</em>. Онлайн-саммит – это дешево и удобно. Мы не тратим деньги на аренду помещения (и даже на финальный фуршет, увы и ах), на печатные материалы и сувениры. Зато вы находитесь у себя в офисе или дома и в комфортной обстановке слушаете вебинары, общаетесь с экспертами и учитесь в режиме онлайн.</p>

    <p class="panel"><em>Причина №4</em>. Общайтесь с людьми, у которых те же проблемы и потребности, что и у вас. Обсуждайте с участниками саммита происходящее, просите совета, получайте обратную связь. Мы собираем людей с общими интересами и целями.</p>

    <p class="panel"><em>Причина №5</em>. Наши эксперты – практики. Они ежедневно практикуются в своей сфере, свежие наработки и эффективные приемы. Они каждый день работают  с вопросами, которые вас волнуют, и они знают ответы на них. У каждого второго свой бизнес, все работают годами в индустрии, и у многих даже свои книги, и не одна..</p>

    <div class="text-center">
      <a href="<%=payment_path%>" class="button" role="button">Создадим классный и приносящий прибыль бренд вместе!</a>
    </div>
  </div>
  <div class="medium-3 small-12 columns">
    <a href="<%= speakers_path %>"><img src="<%= image_path('speakers/speakers.jpg') %>"/></a>
  </div>
</div>
