<% content_for(:title) { "Вебсарафан.Саммит" } %>

<div class="contain-to-grid">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
	<h1><a href="#">Вам повезло :-)</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
	<li class="active"><a href="<%= payment_path %>">Регистрация</a></li>
      </ul>
    </section>
  </nav>
</div>

<section role="main">
  <div class="row">
    <div class="medium-6 small-8 columns small-centered">
      <br>
      <img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/10403324_936760669674717_8533062064142666385_n.jpg?oh=3cb3bf2e2ec8f38dc9a2eb3d6dc60ffb&oe=54B3628C&__gda__=1422887910_246f2a1af5a8dc17dc95212264638682"/>
      <h2> Плох тот мейк, что не делает лук. Согласны?</h2>
    </div>
  </div>
</section>
  
