<% content_for(:title) { "Вебсарафан.Саммит" } %>
<style>
 #wrapper {
   background: url("<%= image_path('960x540.jpg') %>") no-repeat center center fixed;
   background-size: cover;
   position: relative;
   width: 100%;
 }

 section[role="main"] .row {
   padding-top: 3rem;
 }

 section[role="main"] .row {
   background-color: rgba(255, 255, 255, 0.90);
 }
</style>
<div id='wrapper' data-interchange="[<%= image_path('1920x1080.jpg') %>, (large)]">
<div class="contain-to-grid">  
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
	<h1><a href="#">Вебсарафан.Саммит</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
	<li class="active"><a href="<%= payment_path %>">Регистрация</a></li>
      </ul>
    </section>
  </nav>
</div>

<section role="main">
  <div class="row">
    <div class="medium-10 small-8 columns small-centered">
      <h3>Онлайн-саммит "Создаем бренды, которые продают" : трехдневная конференция о работе с брендом для малого бизнеса.</h3>
      <ul class="square">
	<li>Вы хотите привлечь больше клиентов, но не знаете, как это сделать? </li>
	<li>Вы стесняетесь рассказывать о своих преимуществах - да и сами не до конца понимаете, чем отличаетесь от конкурентов и почему клиенту нужно выбрать именно вас?</li>
	<li>Вы не знаете, кому из людей вокруг нужен именно ваш продукт, не понимаете, как их, клиентов, отыскать и на каком языке с ними говорить?</li>
	<li>Вы запутались в словах "бренд" и "позиционирование", думаете, что это нужно только огромным корпорациям и не знаете,  как продвигать ваш маленький бизнес?</li>
      </ul>      

<p>Присоединяйтесь к 100+ предпринимателям, которые хотят понять сильные стороны своего бизнеса, найти "своих" клиентов и создать настоящую историю своего бренда. </p>


<hr>

<p>Почему люди рассказывают истории? Для того, чтобы сделать жизнь понятнее. Когда мы слышим историю, мы точно знаем, кто ее герой, что ему нужно сделать, что будет если он выиграет или проиграет. Все ясно, все очевидно. Однако в реальности для большинства людей их жизнь вовсе не так ясна: они не знают, какой цели идут, чего хотят, чем рискуют — да и кто они такие, тоже не знают.
</p>
<p>История — это максимально ясная версия реальности. В ней есть герой, есть проблема, которая перед ним стоит, есть пути ее решения и исход истории, счастливый или несчастный.
</p>
<p>Вот почему любой бизнес, любой бренд должен рассказывать своим клиентам именно историю. Историю их жизни, в которой ваш бизнес — это помощник, спаситель, проводник. Историю с хорошим в концом, в которой клиент выигрывает, побеждает, становиться счастливым благодаря вам.
</p>
<p>Мы научим вам рассказывать историю вашего бренда, вашего бизнеса. Такую, чтобы ей хотелось верить.
</p>
<p class="panel"><em>Пять дней интенсивных вебинаров: присоединяйтесь к нам из офиса или дома!
10 профессиональных экспертов, готовых ответить на ваши вопросы и дать вам рекомендации.
Запись всех вебинаров для каждого участника - пересматривайте в любое время. 
</em></p>
    <div class="text-center">
      <a href="<%=payment_path%>" class="button" role="button">Присоединяйтесь!</a>
    </div>
</section>
</div>  
