<% content_for(:title) { "Расписание - Вебсарафан.Саммит" } %>
<div class="row">
  <div class="large-12 columns">
    <h1 class="text-center">Расписание</h1>

<h5>17 ноября. Шаг #1.</h5>
<pre>Герой. Идеальный покупатель.
13.00 Как рассказывать о себе, чтобы у вас покупали? (Таисия Кудашкина)
14.00 Что нужно знать о себе и своей компании, прежде чем идти к дизайнеру? (Михаил Шишкин)
15.00 Какими аргументами убеждать покупать именно у вас? Практические примеры (Лена Лукина)
16.00 Как перестать "пахать" и начать зарабатывать легко (ваши отношения с деньгами)? (Ольга Юрковская)
</pre>
<br>
<h5>18 ноября. Шаг #2.</h5>
<pre>Спаситель. Ваш бизнес и вы.
13.00 Суперважные детали в имидже вашей компании, которые нельзя упускать  (Евгений Тупикин)
14.00 Ошибки и удачные ходы в продвижении бизнесов Петербурга (Павел Гуров)
15.00 10 шагов, которые распиарят вас как эксперта и приведут клиентов?  (Дмитрий Румянцев) 
16.00 На каком языке языке нужно (или ни в коем случае нельзя) говорить с вашими клиентами? (Алена Муравлянская) 
</pre>
<br>
<h5>19 ноября. Шаг #3.</h5>
<pre> Что должно быть на сайте, чтобы он приводил клиентов?
13.00 Как доказать клиенту, что другие вам доверяют? (Ольга Павлова)
14.00 Отзывы - где брать и как работать с хорошими и плохими мнениями клиентов? (Евгения Хлызова)
15.00 Что такое контент-план и зачем он вам нужен? (спикер определяется)
16.00 Как написать раздел "О себе" (спикер определяется)
</pre>
<br>
<h5>20 ноября. Шаг #4. </h5>
<pre> Что писать на сайте и где брать контент для соцсетей?
13.00 Действие на сайте - что это? Как сделать так, чтобы с сайта приходили клиенты? (Максим Плосконосов)
14.00 Что писать у вас на сайте или в соцесетях? Где взять столько контента? (Людмила Шабалина)
15.00 Интервью как легкий способ добычи качественного материала и утверждения себя как эксперта в индустрии. По шагам: как? (Таисия Кудашкина)
</pre>
<br>
<h5>21 ноября. Шаг #5. </h5>
<pre>Как ваши герои о вас узнают? Продвижение бизнеса
13.00 Как привлекать клиентов из интернета, не сливая бюджет? (Виталий Говорухин)
14.00 Как составить понедельный маркетинговый план? (Ольга Провоторова)
15.00 Где мне продвигать свой бизнес?  Как найти тот идеальный канал продвижения, который подходит именно моему бизнесу? (Мария Губина)
16.00 Малобюджетные способы продвижения бизнеса (Сергей Скорбенко)
</pre>
<br>

  </div>
</div>
