<% content_for(:title) { "Расписание - Вебсарафан.Саммит" } %>

<div class="row">
  <div class="large-12 columns">
    <h1 class="text-center">Расписание</h1>

<h5>17 ноября. Шаг #1.</h5>
<pre>Герой вашей истории. Его внутренние и внешние проблемы
13.00 Как рассказывать о себе, чтобы у вас покупали? (Таисия Кудашкина)
14.00 Что такое идеальный покупатель и как его найти? (Михаил Шишкин)
15.00 Как привлечь внимание искушенных покупателей? Практические примеры. (Елена Лукина)
16.00 Фишки бренда как ответ на внутренний запрос клиента (Сергей Митрофанов)
</pre>
<h5>18 ноября. Шаг #2.</h5>
<pre>Как стать помощником и спасителем для своих клиентов?
13.00. Ошибки и удачи в позиционировании малого и среднего бизнеса (Павел Гуров)
14.00. Суперважные детали в имидже вашей компании, которые нельзя упускать  (Евгений Тупикин)
15.00. 10 шагов, которые распиарят вас как эксперта и приведут клиентов?  (Дмитрий Румянцев) 
16.00. На каком языке языке нужно (или ни в коем случае нельзя) говорить с вашими клиентами? (Алена Муравлянская) 
</pre>
<h5>19 ноября. Шаг #3.</h5>
<pre>План действий и призыв к действию
13.00 Как доказать клиенту, что другие вам доверяют? (Ольга Павлова)
14.00 Отзывы - где брать и как работать с хорошими и плохими мнениями клиентов? (Евгения Хлызова)
15.00 Как правильно сформулировать призыв к действию (<em>call to action</em>)? (Виталий Говорухин)
</pre>
<h5>20 ноября рассказ о бизнесе. Шаг #4. </h5>
<pre>Как ваши герои о вас узнают?
13.00  Как составить понедельный маркетинговый план? (Ольга Провоторова)
14.00  Где мне продвигаться? Выбираем между "ВКонтакте", Facebook, Twitter и другими соцсетями (Мария Губина) 
15.00 Малобюджетные способы продвижения бизнеса (Сергей Скорбенко)
16.00 Что писать у вас на сайте или в соцесетях? Где взять столько контента? (Людмила Шабалина)
</pre>
<h5>21 ноября. Шаг #5. </h5>
<pre>Чем определяется успех или неуспех.
13.00 Как перестать "пахать" и начать зарабатывать легко? (Ольга Юрковская)
14.00 
15.00 Собираем все вместе: план действий (Таисия) 
</pre>

  </div>
</div>
