<% content_for(:title) { "Расписание - Вебсарафан.Саммит" } %>

<div class="row">
  <div class="large-12 columns">
    <h1 class="text-center">Расписание</h1>
    <p>Онлайн-саммит "Создай историю своего бренда" начинается <time datetime="2014-11-17">17 ноября</time>. С 17 по 21 ноября включительно все участники смогут принять участие в вебинарах наших спикеров согласно расписанию саммита.</p>

    <p>Все вебинары будут записаны и доступны каждому зарегестрированному участнику саммита в дальнейшем. </p>

    <p>Трансляция семинаров начинается в 13.00 и заканчивается в 17.00. Длительность каждого вебинара составляет 1 час.  Участники саммита могут подключаться к трансляции в любое удобнре время. </p>

    <p>Подробное расписание онлайн-саммита формируется. </p>

  </div>
</div>
