<section role="main">
  <div class="row">
    <div class="medium-12 small-12 columns">
      <h4>К сожалению, билеты на живое участие больше не продаются. Но можно купить записи - пишите на team@websarafan.ru</h4>
    </div>    
  </div>
</section>
