<% content_for(:title) { "Спасибо! Вебсарафан.Саммит" } %>

<section role="main">
  <div class="row">
    <div class="medium-6 small-8 columns small-centered">
      <h1>Все получилось, вы зарегистрированы!</h1>
      <p>Все получилось, вы зарегистрированы! Саммит начнется 17 ноября. За две недели до этого вы получите письмо со всеми необходимыми для участия данными: логином и паролем для входа на сайт и расписанием вебинаров. До встречи в ноябре!</p>
      <p>Если что - пишите на <a href="mailto:team@websarafan.ru">team@websarafan.ru</a></p>
    </div>
  </div>
</section>
