<% content_for(:title) { "Спасибо! Вебсарафан.Саммит" } %>

<section role="main">
  <div class="row">
    <div class="medium-6 small-8 columns small-centered">
      <h1>Все получилось, вы зарегистрированы!</h1>
      <p>Саммит начнется в конце ноября, где-то за пару недель до этого мы пришлем вам письмо, которое будет содержать все необходимое для участия</p>
      <p>Если что - пишите на <a href="mailto:taisiya@websarafan.ru">taisiya@websarafan.ru</a></p>
    </div>
  </div>
</section>
