<!-- Put this script tag to the <head> of your page -->
<script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>

<script type="text/javascript">
	VK.init({apiId: 5029770, onlyWidgets: true});
</script>

<script>!function (d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
	if (!d.getElementById(id)) {
		js = d.createElement(s);
		js.id = id;
		js.src = p + '://platform.twitter.com/widgets.js';
		fjs.parentNode.insertBefore(js, fjs);
	}
}(document, 'script', 'twitter-wjs');</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.4";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<% content_for(:title) { "Спасибо! Вебсарафан.Саммит" } %>

<section role="main">

	<div class="row">
		<div class="medium-6 small-8 columns small-centered">
			<h1>Все получилось, вы зарегистрированы!</h1>

			<p>Все получилось, вы зарегистрированы! Вы получите письмо со всеми необходимыми для участия данными: логином и паролем для входа на сайт в течении суток. Спасибо за доверие!</p>

			<p>Если что - пишите на <a href="mailto:team@websarafan.ru">team@websarafan.ru</a></p>
		</div>
	</div>

	<div class="row">
		<div class="medium-6 small-8 columns small-centered">

			<h2>Поделитесь с друзьями</h2>


			<div class="row-share">

				<div class="rs-item">

					<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://websarafan.club/facebook2015" data-text="Самая масштабная онлайн-конференция от Websarafan">Tweet</a>

				</div>

				<div class="rs-item">

					<div class="fb-share-button" data-href="http://websarafan.club/facebook2015" data-layout="button_count"></div>

				</div>

				<div class="rs-item">
					<!-- Put this div tag to the place, where the Like block will be -->
					<div id="vk_like"></div>
					<script type="text/javascript">
						VK.Widgets.Like("vk_like", {
							type   : "button",
							pageUrl: 'http://websarafan.club/facebook2015'
						});
					</script>
				</div>

			</div>

		</div>
	</div>

	<style type="text/css">
		.row-share {
			display: table;
			font-size: 0;
			width: 100%;
		}
		.rs-item {
			display: inline-block;
			vertical-align: top;
			height: 20px;
			overflow: hidden;
			width: auto;
			font-size: 12px;
			margin-right: 10px;
		}
		.rs-item iframe {
			width: auto;
		}
		.rs-item a {
			text-decoration: none !important;
		}
	</style>

</section>
