<div class="row">
  <div class="large-12 columns">
    <h1 class="text-center">Материалы</h1>    
    <h5>13.00 Как спозиционировать компанию, чтобы были клиенты? (Таисия Кудашкина)</h5>
     <iframe src="//player.vimeo.com/video/112315017" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
     <div>
       <a href="https://s3-eu-west-1.amazonaws.com/sarafan-summit-nov-14/%D0%A2%D0%B0%D0%B8%D1%81%D0%B8%D1%8F+%D0%9A%D1%83%D0%B4%D0%B0%D1%88%D0%BA%D0%B8%D0%BD%D0%B0+%D0%B4%D0%B5%D0%BD%D1%8C+1.pdf">скачать презентацию</a>
     </div>
     <br>
     <h5>14.00 Как правильно составить ТЗ для дизайнера? (Михаил Шишкин)</h5>
     <iframe src="//player.vimeo.com/video/112315018" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
     <div>
       <a href="https://s3-eu-west-1.amazonaws.com/sarafan-summit-nov-14/%D0%9C%D0%B8%D1%85%D0%B0%D0%B8%D0%BB+%D0%A8%D0%B8%D1%88%D0%BA%D0%B8%D0%BD+%D0%B4%D0%B5%D0%BD%D1%8C+1.pdf">скачать презентацию</a>
     </div>
     <br>
     <h5>15.00 Какими аргументами убеждать? Практические примеры для разной целевой аудитории (Лена Лукина)</h5>
     <iframe src="//player.vimeo.com/video/112315019" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
     <div>
       <a href="https://s3-eu-west-1.amazonaws.com/sarafan-summit-nov-14/%D0%95%D0%BB%D0%B5%D0%BD%D0%B0+%D0%9B%D1%83%D0%BA%D0%B8%D0%BD%D0%B0+%D0%B4%D0%B5%D0%BD%D1%8C+1.ppt">скачать презентацию</a>
     </div>
     <br>

     <h5>13.00 Суперважные детали в имидже вашей компании, которые нельзя упускать  (Евгений Тупикин)</h5>
     <iframe src="//player.vimeo.com/video/112234502" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
     <div>
       <a href="https://s3-eu-west-1.amazonaws.com/sarafan-summit-nov-14/%D0%95%D0%B2%D0%B3%D0%B5%D0%BD%D0%B8%D0%B8%CC%86+%D0%A2%D1%83%D0%BF%D0%B8%D0%BA%D0%B8%D0%BD.pptx">скачать презентацию</a>
     </div>
     <br>

     <h5>14.00 Ошибки и удачные ходы в продвижении бизнесов (Павел Гуров)</h5>
     <iframe src="//player.vimeo.com/video/112234501" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
     <div>
       <a href="https://s3-eu-west-1.amazonaws.com/sarafan-summit-nov-14/%D0%9F%D0%B0%D0%B2%D0%B5%D0%BB+%D0%93%D1%83%D1%80%D0%BE%D0%B2.pdf">скачать презентацию</a>
     </div>
     <br>

     <h5>15.00 10 шагов, которые распиарят вас как эксперта и приведут клиентов (Дмитрий Румянцев)</h5>
     <iframe src="//player.vimeo.com/video/112234503" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
     <div>
       <a href="https://s3-eu-west-1.amazonaws.com/sarafan-summit-nov-14/%D0%94%D0%BC%D0%B8%D1%82%D1%80%D0%B8%D0%B8%CC%86+%D0%A0%D1%83%D0%BC%D1%8F%D0%BD%D1%86%D0%B5%D0%B2.pdf">скачать презентацию</a>
     </div>
     <br>

     <h5>16.00 На каком языке языке нужно (или ни в коем случае нельзя) говорить с вашими клиентами? (Алена Муравлянская)</h5>
     <iframe src="//player.vimeo.com/video/112234504" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
     <div>
       <a href="https://s3-eu-west-1.amazonaws.com/sarafan-summit-nov-14/%D0%90%D0%BB%D0%B5%D0%BD%D0%B0+%D0%9C%D1%83%D1%80%D0%B0%D0%B2%D0%BB%D1%8F%D0%BD%D1%81%D0%BA%D0%B0%D1%8F.pptx">скачать презентацию</a>
     </div>
     <br>

     <h5>13.00 Как доказать клиенту, что другие вам доверяют? (Ольга Павлова)</h5>
     <iframe src="//player.vimeo.com/video/112319483" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
     <div>
       <a href="https://s3-eu-west-1.amazonaws.com/sarafan-summit-nov-14/%D0%9E%D0%BB%D1%8C%D0%B3%D0%B0+%D0%9F%D0%B0%D0%B2%D0%BB%D0%BE%D0%B2%D0%B0.ppt">скачать презентацию</a>
     </div>
     <br>


     <h5>14.00 Отзывы - где брать и как работать с хорошими и плохими мнениями клиентов? (Евгения Хлызова)</h5>
     <iframe src="//player.vimeo.com/video/112336581" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
     <div>
       <a href="https://s3-eu-west-1.amazonaws.com/sarafan-summit-nov-14/%D0%95%D0%B2%D0%B3%D0%B5%D0%BD%D0%B8%D1%8F+%D0%A5%D0%BB%D1%8B%D0%B7%D0%BE%D0%B2%D0%B0.pptx">скачать презентацию</a>
     </div>
     <br>


     <h5>15.00 О чем молчат маркетологи, или страшная правда о том, почему посетители не покупают у вас. (Мария Питерская)</h5>
     <iframe src="//player.vimeo.com/video/112319484" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
     <div>
       <a href="https://s3-eu-west-1.amazonaws.com/sarafan-summit-nov-14/%D0%90%D0%BB%D0%B5%CC%88%D0%BD%D0%B0+%D0%9F%D0%B8%D1%82%D0%B5%D1%80%D1%81%D0%BA%D0%B0%D1%8F.ppt">скачать презентацию</a>
     </div>
     <br>


     <h5>16.00 Как вести посетителей по сайту так, чтобы они становились покупателями? (Наталья Пискунова)</h5>
     <iframe src="//player.vimeo.com/video/112319486" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
     <div>
       <a href="https://s3-eu-west-1.amazonaws.com/sarafan-summit-nov-14/%D0%9D%D0%B0%D1%82%D0%B0%D0%BB%D1%8C%D1%8F+%D0%9F%D0%B8%D1%81%D0%BA%D1%83%D0%BD%D0%BE%D0%B2%D0%B0.pptx">скачать презентацию</a>
     </div>
     <br>

     <h5>13.00 Действие на сайте - что это? Как сделать так, чтобы с сайта приходили клиенты? (Максим Плосконосов)""</h5>
     <iframe src="//player.vimeo.com/video/112414048" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
     <div>
       <a href="https://s3-eu-west-1.amazonaws.com/sarafan-summit-nov-14/%D0%9C%D0%B0%D0%BA%D1%81%D0%B8%D0%BC+%D0%9F%D0%BB%D0%BE%D1%81%D0%BA%D0%BE%D0%BD%D0%BE%D1%81%D0%BE%D0%B2.pdf">скачать презентацию</a>
     </div>
     <br>

     <h5>14.00 Что писать у вас на сайте или в соцсетях? Где взять столько контента? (Людмила Шабалина)</h5>
     <iframe src="//player.vimeo.com/video/112414047" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
     <div>
       <a href="https://s3-eu-west-1.amazonaws.com/sarafan-summit-nov-14/%D0%9B%D1%8E%D0%B4%D0%BC%D0%B8%D0%BB%D0%B0+%D0%A8%D0%B0%D0%B1%D0%B0%D0%BB%D0%B8%D0%BD%D0%B0.pptx">скачать презентацию</a>
     </div>
     <br>

     <h5>15.00 Интервью как легкий способ добычи качественного материала: по шагам. (Таисия Кудашкина)</h5>
     <iframe src="//player.vimeo.com/video/112414046" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
     <div>
       <a href="https://s3-eu-west-1.amazonaws.com/sarafan-summit-nov-14/%D0%A2%D0%B0%D0%B8%D1%81%D0%B8%D1%8F+%D0%9A%D1%83%D0%B4%D0%B0%D1%88%D0%BA%D0%B8%D0%BD%D0%B0+-+%D0%B4%D0%B5%D0%BD%D1%8C+4.pdf">скачать презентацию</a>
     </div>
     <br>

     <h5>16.00 Создайте бесплатные потоки клиентов из социальных сетей. (Ольга Юрковская)</h5>
     <em>Начало вебинара временно отсутствует</em>
     <iframe src="//player.vimeo.com/video/112414045" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
     <div>
       <a href="https://s3-eu-west-1.amazonaws.com/sarafan-summit-nov-14/%D0%9E%D0%BB%D1%8C%D0%B3%D0%B0+%D0%AE%D1%80%D0%BA%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F.pptx">скачать презентацию</a>
     </div>
     <br>


  </div>
</div>
