@import "foundation_and_overrides";
@import 'foundation-icons';

 #wrapper {
   background: url("<%= image_path('arches.png') %>") repeat;
   width: 100%;
 }

 section[role="main"] .row:last-of-type {
   padding-bottom: 2rem;
 }

 section[role="main"] > .row {
   padding-top: 3rem;
 }

 section[role="main"] .row {
   background-color: rgba(255, 255, 255, 1);
 }

 .menu {
   background-color: #4d4c4e;
 }

 .menu li {
   padding-left: 1rem;
   padding-right: 1rem;
   font-size: 1.2em;
 }

 .footer {
   height: 40px;
   background-color: #4d4c4e;   
 }

pre {
  font-family: 'PT Sans',sans-serif;
  font-weight: 400;
}

.speaker-details img {
  float: left;
  margin-right: 1rem;
}

.speaker-details p:last-of-type {
  font-weight: bold;
}

.speaker-row h5 { margin-top: 1rem; }

s { color: gray; }

.speaker-details img {
  width: 250px;
}

li {
  list-style-type: none;
}
