<div class="row speaker-details">
  <div class="large-12 columns">
    <h1 class="text-center">Алена Муравлянская</h1>
<img src="<%= image_path('speakers/АленаМуравлянская.jpg') %>" />
<p>Бизнес-владелец (организует живые квесты <a href="Questoria.ru">Questoria.ru</a>), журналист, редактор Websarafan. Работает с людьми, текстами и событиями в самых разных вариациях. Умеет находить общий язык даже с теми, кто толком разговаривать не умеет. </p>

<p>Алена Муравлянская работала себе журналистом и редактором, и о бизнесе особенно и не думала. Пока на глаза ей не попалось объявлении и продаже франшиз компании «Квестория» - молодого агенства, организующего живые квесты. 
Продукт был принципиально новым, раньше живые квесты никто не продавал, дело казалось рискованным, но очень интересным. Так все и началось.  Понятной и простой информации о развитии малого бизнеса и продвижении в интернете не было, приходилось учиться на своем опыте.  Самым сложным было создание рынка как такового – ведь никто не знал, что это за формат, чем он хорош, почему живые квесты круче привычных посиделок и чем они так цепляют.
Маленькая франшиза, собрав все грабли и шишки, выросла в нормальную компанию, а Алена переехала в Санкт-Петербург и стала заниматься живыми квестами уже здесь в качестве совладельца и директора по развитию.
</p>

<p>Особенность эвент-агенства заключается в том, что общаться приходится с очень разными людьми – как на этапе организации, так и в процессе проведения. Одним словом,  Алена научилась разговаривать с самыми разными заказчиками – тревожными, скандальными, резкими, застенчивыми, упорно не понимающими, чего хотят сами.
</p>

<p>Сейчас Алена занимается развитием «Квестории» (которая к этому моменту выросла до огромной компании с отделениями аж на три страны)  в Петербурге. А еще «Вебсарафаном», над которым работает как редактор и автор. И параллельно продолжает учиться новыми фишкам в маркетинге,  практикуя в своем бизнесе.   На онлайн-саммите она будет рассказывать о том, как найти с клиентом общий язык. Во-первых, на письме – как писать, чтобы клиент прочитал, улыбнулся и кликнул, а не зевнул и отвернулся. Во-вторых, в личном общении – важно ведь не только то, что вы говорите, но и еще как вы это делаете.</p>

<div class="text-center">
  <a href="<%=payment_path%>" class="button" role="button">Присоединяйтесь!</a>
</div>

</div>
</div>
