<div class="row speaker-details">
  <div class="large-12 columns">
    <h1 class="text-center">Дмитрий Румянцев</h1>
    <img src="<%= image_path('speakers/ДмитрийРумянцев.jpg') %>" />
<p>Давным-давно Дмитрий Румянцев занимался организацией… квартирников и литературных вечеров, много вертелся в богемной тусовке. И в какой-то момент его пригласили в арт-клуб «Книги и Кофе»: молодой бизнес, которому нужна была поддержка. Заведению требовался арт-директор, который наполнял бы программу выступлений. Со временем стало ясно, что привычные способы рекламы, которая помогает заполнять зал, больше не работают. Так что Дмитрий стал пробовать новые методы в социальных сетях – тогда еще методом тыка, пробуя все подряд: рекламу, посты, блоги. Стало получаться, кафе раскрутилось. </p>
<p>А потом оказалось, что маркетинг в социальных сетях – вещь затягивающая, и Дмитрий стал заниматься им профессионально. Сейчас он широко известен как настоящий эксперт по продвижению «ВКонтакте», в его группе «Маркетинг от А до Я» 37 тысяч участников (и многие из них активно там общаются и делятся опытом). А еще Дмитрий – наш постоянный <a href=" 
http://websarafan.ru/author/rumjantsev/ /">автор</a> на Websarafan.</p>
<p>На нашем онлайн-саммите Дмитрий будет рассказывать о важной вещи: как распиарить себя как эксперта. Согласитесь, уровень доверия к людям, которые выступают на конференциях, дают интервью и советы гораздо выше: репутация и публичность располагают к себе. Как стать таким человеком? Этому Дмитрий вас и научит.</p>
<div class="text-center">
  <a href="<%=payment_path%>" class="button" role="button">Присоединяйтесь!</a>
</div>