<div class="row speaker-details">
  <div class="large-12 columns">
    <h1 class="text-center">Дмитрий Румянцев</h1>
    <img src="<%= image_path('speakers/ДмитрийРумянцев.jpg') %>" />
    <div class="text-center">
      <a href="<%=payment_path%>" class="button" role="button">Присоединяйтесь!</a>
    </div>
  </div>
</div>
