<div class="row speaker-details">
  <div class="large-12 columns">
    <h1 class="text-center">Евгения Хлызова</h1>
    <img src="<%= image_path('speakers/ЕвгенияХлызова.jpg') %>" />
    <div class="text-center">
      <a href="<%=payment_path%>" class="button" role="button">Присоединяйтесь!</a>
    </div>
  </div>
</div>
