<p>Евгения несколько лет назад столкнулась в ресторане с откровенно плохим обслуживанием. И задумалась — а что можно с этим сделать? Ведь невозможно понять заранее, с чем столкнешься — с грубостью или приятным сервисом. И тогда она поняла, что единственная возможность предупредить других (и высказаться о наболевшем) — это сайты отзывов.</p> 
<p>Сейчас она занимается развитием сервиса отзывов tulp.ru и учит предпринимателей находить контакт со своими клиентами, а клиентов — не бояться высказывать свое мнение. Потому что в конечном итоге оно идет бизнесу на пользу.</p>
<blockquote>
 - Отзывы – это изначально инструмент взаимодействия бизнеса и клиента. Но, работая с отзывами, мы открыли ошеломительный «побочный эффект» это инструмента. Назовем его онлайн-репутация. По сути, это информационное поле, которое формируют вокруг бизнеса его же клиенты.
Онлайн-репутация в сегодняшнем цифровом мире становится мощным конкурентным преимуществом и нематериальным активом для любого бизнеса. Ее не купишь за деньги, как рекламу. Ее ресурс неисчерпаем, а эффект от нее со временем только усиливается.
Я хочу поделиться с участниками саммита фишками, которые помогут вырастить кристалл онлайн репутации для бизнеса и сделать так, чтобы он стал эффективным оружием привлечения клиентов.</blockquote>

<p>Евгения расскажет то, что необходимо знать о работе с отзывами клиентов и о построении своей онлайн-репутации. Прямо конкретно и по шагам — как отвечать на позитивные отзывы, что делать с негативными, как создать классную репутацию в сети.</p>