<div class="row speaker-details">
  <div class="large-12 columns">
    <h1 class="text-center">Лена Лукина</h1>
    <img src="<%= image_path('speakers/ЛенаЛукина.jpg') %>" />
    <div class="text-center">
      <a href="<%=payment_path%>" class="button" role="button">Присоединяйтесь!</a>
    </div>
  </div>
</div>
<p>Лена всегда думала, что ее призвание  - журналистика, интересная и творческая профессия. К 24 годам она стала коммерческим директором крупного строительного издания и курировала там проекты, связанные с рекламой. И тогда она поняла, что реклама ей нравится больше. Причем рекламные тексты часто гораздо честнее, чем редакционны – ясно, что это реклама, у них вполне очевидные тексты,  и есть конкретный результат – клиенты, которых они впечатлили. И Лена ушла работать в рекламу – простым копирайтером в обычное рекламное агенство, учиться практически с нуля. Со временем агенство развивалось, и Лена училась всему, что знает сейчас. Она влюбилась в эту отрасль и стала плотно заниматься рекламой и брендингом: и для местных региональных компаний, и для московских закачиков. В отличие от журналистики, в которой есть потолок – должность главного редактора – в рекламе очень разные клиенты, заказы, рынок и методы рекламы постоянно меняются, за ними необходимо следить. </p>
<p>огда захотелось более масштабных задач, чем те, за которые бралось агентство, Лена вместе со своей коллегой-дизайнером Инной создали свою компанию LENIN (название – не дать уважение Ильичу, а просто два имени). Сейчас у них вполне четкая концепция – они не хотят делать огромное агенство, зато хотят очень внимательно решать запрос каждого конкретного клиента. Что, конечно, не может не располагать.
</p>
<p>А еще Лена выступает консультантом для предпринимателей – объясняет, как выстроить маркетинг в каждой отдельной компании, в чем ее преимущества, в чем слабости, как их исправлять. На Websarafan-саммите она расскажет о том, какими аргументами убеждать клиентов купить именно у вас.  Реальными аргументами, безо всяких там «наша компания – лидер рынка» и так далее.</p>
<div class="text-center">
  <a href="<%=payment_path%>" class="button" role="button">Присоединяйтесь!</a>
</div>

</div>
</div>