<p>Мария Питерская. Коммерческий директор Айри.рф, человек с редкой профессией - евангелист. Сопредседатель комиссии SaaS при Российской Ассоциации Электронных Коммуникаций, основатель премии «Облака».</p>
<p>С 2006 года работает в области интернет-рекламы. За это время провела консалтинг по интернет-маркетингу более 2000 компаний, все стратегии воплощены в жизнь. Во время работы в ИД «Собака» (2007 год), активы издательского дома по объему привлеченных средств на треть опередили активы ближайшего конкурента – ИД «Афиша».</p>
<p>В послужном списке спикера- сейлинговые стартапы порталовdom2.ru, gastronom.ru, starlook.ru, moskva.com, svpressa.ru, muvi.ru проекты ГК www.mediafort.ru.</p>
<p>С июня 2009 года работала коммерческим директором компании «Миланор» (порталы WomanJournal.ru и leLuxe.ru). Имеет опыт работы практически со всеми крупными федеральными рекламодателями и их агентствами.</p>
