<div class="row speaker-details">
  <div class="large-12 columns">
    <h1 class="text-center">Мария Губина</h1>
    <img src="<%= image_path('speakers/МарияГубина.jpg') %>" />
    <div class="text-center">
      <a href="<%=payment_path%>" class="button" role="button">Присоединяйтесь!</a>
    </div>
  </div>
</div>

<div class="text-center">
  <a href="<%=payment_path%>" class="button" role="button">Присоединяйтесь!</a>
</div>
<p>Мария считает, что предпринимательство должно быть комфортной сферой. Бизнес должен приносить не только доход, но и удовольствие.Мария после окончания вуза занялась вполне традиционной карьерой и со временем доросла до руководителя отдела маркетинга. Однако офис навевал на нее скуку, и она решила работать маркетологом-фрилансером. </p>
<p>И  обнаружила, что ее клиенты – из малого бизнеса – вообще не знают о том, как работает маркетинг.  Надо ли печатать флаеры? Надо ли участвовать в выставках? На какую рекламу тратить деньги? </p>
<p>Мария пыталась объяснять эти вещи, копаться в каждой задаче и очень подробно доносить, какой инструмент полезен в конкретной ситуации. Так, со временем, она набралась опыта в специфике разных бизнесов – от солидных корпораций до маленький компаний на одного-двух сотрудников. </p>
<p>Именно тогда ее впервые пригласили провести семинар в свежесозданном отделе маркетинга в одной из компаний. Мария вообще не представляла себя в роли тренера, но попробовала, и увидела интерес слушателей и результаты своего труда. С тех пор она занимается  и частными консультациями, и тренингами. Она одна из немногих специалистов, которые работают с микробизнесами – совсем маленькими компаниями, которым тоже нужна профессиональная поддержка. </p>
<p>На нашем саммите она будет рассказывать о том, как выбрать канал рекламы для своего бизнеса. Какой из социальных сетей воспользоваться? «ВКонтакте» или Facebook?А может, вообще заняться контекстной рекламой? Многие предприниматели просто копируют те приемы рекламы, которые кажутся им удачными. Между тем, поступать надо ровно наоборот. О чем Мария и расскажет.</p>
</div>
</div>