<div class="row speaker-details">
  <div class="large-12 columns">
    <h1 class="text-center">Михаил Шишкин</h1>
    <img src="<%= image_path('speakers/МихаилШишкин.jpg') %>" />
    <div class="text-center">
      <a href="<%=payment_path%>" class="button" role="button">Присоединяйтесь!</a>
    </div>
  </div>
</div>
<p>Михаил Шишкин долго занимался дизайном. И столкнулся вот с какой проблемой: невозможно создать дизайн, если клиент толком не понимает, что же у него за компания. Дизайн отражает суть компании, уникальное предложение, которое она делает покупателям. А предприниматель вообще не не в курсе, что у него в бизнесе уникальное? Как работать с такими клиентами? И тогда Михаил Шишкин основал брендинговое агентство SHISHKI. </p>
<blockquote>- Аудитория, конкуренты, понимание собственный бизнес-процессов, ценности и преимущества бренда — все это составляет ту платформу и базу, которая должна быть продумана: если не на страницах брендбука, то, по крайней мере, в голове.</blockquote>
<p>На нашем онлайн-саммите он будет рассказывать, что же вам нужно узнать о вашей компании, когда вы пойдете к дизайнеру. А вообще, по хорошему, что вам вообще нужно знать о своем бизнесе.  Каковы алгоритмы действий брендинга, где прячутся его подводные камни? Так что по сути он проведет настоящее практическое занятие по основам бренд-стратегии.
</p>

<div class="text-center">
  <a href="<%=payment_path%>" class="button" role="button">Присоединяйтесь!</a>
</div>

</div>
</div>