<p>Наталья Пискунова имеет богатый опыт помощи бизнесам. Приходит, анализирует маркетинг, находит слабые места и исправляет. Специализируется на партизанском маркетинге — то есть на том, как не имея большого рекламного бюджета (а иногда вообще не имея никакого бюджета) «зацепить» клиентов, попасться им на глаза в нужное время и создать ощущение, что им просто необходимо совершить у вас покупку.</p>

<p>Еще одно направление работы Натальи — это юзабилити сайтов. Она объясняет, как структура, дизайн сайтов, а также их наполнение влияют на количество продаж. Да, это целая наука, которой к тому же практически нигде не учат. Покупателя может отпугнуть что угодно — непонятная структура меню, яркие краски, слишком большие или слишком маленькие шрифты, отсутствие логики в перемещении по сайту.</p>

<p>На саммите Наталья расскажет нам о том, как вести посетителей по сайту так, чтобы они становились покупателями, а также о том, как найти и устранить основные ошибки на сайте.</p>
