<div class="row speaker-details">
  <div class="large-12 columns">
    <h1 class="text-center">Ольга Павлова</h1>
    <img src="<%= image_path('speakers/ОльгаПавлова.jpg') %>" />
<p>Ольга Павлова посмотрела на очередной сайт, попавший в работу студии «Собака Павлова», и вздохнула.  Если бы сайт был человеком, то ему требовалась бы целая бригада врачей. Особенно драматичным был раздел «О нас», где владелец бизнеса рассказывал о том, какой он замечательный. Настолько яростно, что верить ему не хотелось. 
</p>
<p>И сайт, и предпринимателя спас довольно простой, но малоизвестный прием. А именно – контент-стратегия, которая представляла предпринимателя как эксперта в своем деле, которому можно доверять?</p>
<blockquote>
 - Демонстрируйте, что вы действительно разбираетесь в том, что предлагаете. А именно – делитесь полезной информацией на сайте бесплатно. Вы врач? Пишите о своей практике, о примерах, об успехах. Автомеханик? Давайте полезные советы о диагностике автомобиля, мелком ремонте. Что это вам даст?
Вы отделитесь от конкурентов — мы особенные, это видно.
Вы будете вызывать доверие, ведь вы показываете, что увлечены своей работой, делаете ее с удовольствием.
Вы поддержите решение клиента купить у вас – дадите полезные советы, поможете пользоваться вашим продуктом. 
Покупать будут у того, кому доверяют.</blockquote>
<p>Ольга Павлова помешана на качестве обслуживания пользователей. Быстро говорит и принимает решения. Управляет менеджерами, проектировщиками и редакторами. И все на благо сайтов  - их анализируют, улучшают, делают работающими и продающими, заботливо нянчат – да, даже сервис такой есть, «Сайтоняня» называется. А еще Ольга – наш постоянный <a href=" http://websarafan.ru/author/sobakapavlova/">автор</a> на Websarafan.</p>
<p>На нашем саммите Ольга будет рассказывать о том, что именно говорить клиенту, что делать, чтобы покупатели вам доверяли? Чтобы они с вами советовались, чтобы они снова и снова приходили к вам, советовали вам знакомым, чтобы считали, что именно вы – эксперт в данной области.</p>
<div class="text-center">
  <a href="<%=payment_path%>" class="button" role="button">Присоединяйтесь!</a>
</div>

</div>
</div>