<p>Виталий начал карьеру маркетолога в IT-компании еще в студенческие годы. Сейчас, руководит отделом конверсии в Digital-агентстве Original Works. Ведет комплексные проекты по увеличению продаж клиентов.</p>
Сейчас, как сам говорит, работает многоруким Шивой. Занимается маркетингом, продвижением самых разных компаний, выступает на конференциях, ведет дела в основном с малым и средним бизнесом. </p>
<p>Выделяет 2 основные проблемы интернет-маркетинга малых бизнесов:</p>
<p> * Кусочные решения. Используют один-два инструмента, например, только сайт и поисковое продвижение. Но нынешние возможности для выстраивания процесса привлечения клиентов гораздо шире.</p>
<p>* Отсутствие базовых знаний по web-аналитике, позволяющих посчитать эффективность рекламы. Вследствие этого, на рекламу тратятся «карманные деньги», которых не хватает для значимого результата. 
<p>Но вкладывать больше страшно – «вдруг не окупится».</p> 

<p>Виталий на нашем саммите рассказывает о том, как понять, какова же конверсия вашей интернет-рекламы – то есть сколько людей она реально привлекает, стоит ли вам вкладывать в нее деньги, каким будет результат. Давайте не будет слепо вкладывать свои кровынеы в страшные и непонятные каналы рекламы, а начнем действовать осознанно и с полным пониманием того, что вы делаете! А Виталий поможет в этом разобраться.</p>
